@font-face {
	font-family: Logical;
	font-weight: 100;
	font-style: normal;
	src: url('https://www.enchiridion.io/assets/built/Logical-Light.woff2') format('woff2');
}

@font-face {
	font-family: Logical;
	font-weight: 400;
	font-style: normal;
	src: url('https://www.enchiridion.io/assets/built/Logical-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Logical;
	font-weight: 400;
	font-style: italic;
	src: url('https://www.enchiridion.io/assets/built/Logical-Italic.woff2') format('woff2');
}

@font-face {
	font-family: Logical;
	font-weight: 500;
	font-style: normal;
	src: url('https://www.enchiridion.io/assets/built/Logical-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Logical;
	font-weight: 600;
	font-style: normal;
	src: url('https://www.enchiridion.io/assets/built/Logical-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Logical;
	font-weight: 700;
	font-style: normal;
	src: url('https://www.enchiridion.io/assets/built/Logical-Heavy.woff2') format('woff2');
}

@font-face {
	font-family: Logical;
	font-weight: 800;
	font-style: normal;
	src: url('https://www.enchiridion.io/assets/built/Logical-Black.woff2') format('woff2');
}

@font-face {
 font-family: myCustomFont;
 src: url('https://fonts.googleapis.com/css?family=JetBrains Mono');
 font-style: italic;
 font-weight: bold;
}