@font-face {
	font-family: 'Logical';
	src: url('https://www.enchiridion.io/assets/built/book.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Logical';
	src: url('https://www.enchiridion.io/assets/built/bookitalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Logical';
	src: url('https://www.enchiridion.io/assets/built/bold.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'logical';
	src: url('https://www.enchiridion.io/assets/built/bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Logical';
	src: url('https://www.enchiridion.io/assets/built/black.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Logical';
	src: url('https://www.enchiridion.io/assets/built/black.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}